/* 把我们所有标签的内外边距清零 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* 引用iconfont */

.icon {
    width: 30px;
    height: 30px;
    vertical-align: -0.15px;
    fill: currentColor;
    overflow: hidden;
    color: white;
    margin: 0 10px;
}


/* em 和 i 斜体的文字不倾斜 */

em,
i {
    font-style: normal
}


/* 去掉li 的小圆点 */

li {
    list-style: none
}

img {
    /* border 0 照顾低版本浏览器 如果 图片外面包含了链接会有边框的问题 */
    border: 0;
    /* 取消图片底侧有空白缝隙的问题 */
    vertical-align: middle
}

button {
    /* 当我们鼠标经过button 按钮的时候，鼠标变成小手 */
    cursor: pointer
}

a {
    color: rgb(221, 221, 221);
    text-decoration: none
}

a:hover {
    color: rgb(148, 148, 148);
}

button,
input {
    /* "\5B8B\4F53" 就是宋体的意思 这样浏览器兼容性比较好 */
    font-family: Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53", sans-serif border: 0;
    border: 0;
    outline: none;
}

body {
    /* CSS3 抗锯齿形 让文字显示的更加清晰 */
    -webkit-font-smoothing: antialiased;
    font: 12px/1.5 fz;
    color: rgb(194, 194, 194);
    background: url(../img/bg2.jpg);
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-origin: content-box;
    background-color: #0d151e;
}

.hide,
.none {
    display: none
}


/* 清除浮动 */

.clearfix:after {
    visibility: hidden;
    clear: both;
    display: block;
    content: ".";
    height: 0
}

.clearfix {
    *zoom: 1
}


/* 左侧导航栏 */

body {
    height: 1000px;
}

#container .left_col {
    background-color: none!important;
    width: 300px;
    position: fixed;
    opacity: 1;
    height: 100%;
}

#container .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(63, 63, 63, 0.7);
    z-index: -1;
}

.intrude-less {
    position: relative;
    text-align: center;
}


/* 头像 */

#header {
    position: relative;
    top: 80px;
    height: 200px;
    margin-bottom: 70px;
}

#header .profilepic {
    display: block;
    position: relative;
    text-align: center;
}

#header .profilepic img {
    height: 128px;
    width: 128px;
    border: 2px solid rgba(211, 211, 211);
    border-radius: 50%;
    opacity: 1;
    -webkit-transition: all 0.5s ease-in;
}

#header .profilepic img.show {
    width: 100%;
    height: 100%;
    opacity: 1;
}

#header .profilepic:hover {
    -webkit-animation: btnGroups 1s linear;
    -webkit-animation: btnGroups 1s linear;
    -moz-animation: btnGroups 1s linear;
    -ms-animation: btnGroups 1s linear;
    animation: btnGroups 1s linear;
}


/* 动画特效 */

@-webkit-keyframes btnGroups {
    0% {
        -webkit-transform: scale(1.2, 0.8);
    }
    1% {
        -webkit-transform: scale(1.18, 0.82);
    }
    2% {
        -webkit-transform: scale(1.16, 0.84);
    }
    3% {
        -webkit-transform: scale(1.13, 0.87);
    }
    4% {
        -webkit-transform: scale(1.1, 0.9);
    }
    5% {
        -webkit-transform: scale(1.07, 0.93);
    }
    6% {
        -webkit-transform: scale(1.04, 0.96);
    }
    7% {
        -webkit-transform: scale(1.01, 0.99);
    }
    8% {
        -webkit-transform: scale(0.99, 1.01);
    }
    9% {
        -webkit-transform: scale(0.97, 1.03);
    }
    10% {
        -webkit-transform: scale(0.95, 1.05);
    }
    11% {
        -webkit-transform: scale(0.94, 1.06);
    }
    12% {
        -webkit-transform: scale(0.93, 1.07);
    }
    13% {
        -webkit-transform: scale(0.93, 1.07);
    }
    14% {
        -webkit-transform: scale(0.93, 1.07);
    }
    15% {
        -webkit-transform: scale(0.93, 1.07);
    }
    16% {
        -webkit-transform: scale(0.94, 1.06);
    }
    17% {
        -webkit-transform: scale(0.94, 1.06);
    }
    18% {
        -webkit-transform: scale(0.95, 1.05);
    }
    19% {
        -webkit-transform: scale(0.96, 1.04);
    }
    20% {
        -webkit-transform: scale(0.98, 1.02);
    }
    21% {
        -webkit-transform: scale(0.99, 1.01);
    }
    22% {
        -webkit-transform: scale(1, 1);
    }
    23% {
        -webkit-transform: scale(1, 1);
    }
    24% {
        -webkit-transform: scale(1.01, 0.99);
    }
    25% {
        -webkit-transform: scale(1.02, 0.98);
    }
    26% {
        -webkit-transform: scale(1.02, 0.98);
    }
    27% {
        -webkit-transform: scale(1.02, 0.98);
    }
    28% {
        -webkit-transform: scale(1.03, 0.97);
    }
    29% {
        -webkit-transform: scale(1.03, 0.97);
    }
    30% {
        -webkit-transform: scale(1.02, 0.98);
    }
    31% {
        -webkit-transform: scale(1.02, 0.98);
    }
    32% {
        -webkit-transform: scale(1.02, 0.98);
    }
    33% {
        -webkit-transform: scale(1.02, 0.98);
    }
    34% {
        -webkit-transform: scale(1.01, 0.99);
    }
    35% {
        -webkit-transform: scale(1.01, 0.99);
    }
    36% {
        -webkit-transform: scale(1.01, 0.99);
    }
    37% {
        -webkit-transform: scale(1, 1);
    }
    38% {
        -webkit-transform: scale(1, 1);
    }
    39% {
        -webkit-transform: scale(1, 1);
    }
    40% {
        -webkit-transform: scale(0.99, 1.01);
    }
    41% {
        -webkit-transform: scale(0.99, 1.01);
    }
    42% {
        -webkit-transform: scale(0.99, 1.01);
    }
    43% {
        -webkit-transform: scale(0.99, 1.01);
    }
    44% {
        -webkit-transform: scale(0.99, 1.01);
    }
    45% {
        -webkit-transform: scale(0.99, 1.01);
    }
    46% {
        -webkit-transform: scale(0.99, 1.01);
    }
    47% {
        -webkit-transform: scale(0.99, 1.01);
    }
    48% {
        -webkit-transform: scale(0.99, 1.01);
    }
    49% {
        -webkit-transform: scale(1, 1);
    }
}

@-moz-keyframes btnGroups {
    0% {
        -webkit-transform: scale(1.2, 0.8);
        -moz-transform: scale(1.2, 0.8);
        -ms-transform: scale(1.2, 0.8);
        transform: scale(1.2, 0.8);
    }
    1% {
        -webkit-transform: scale(1.18, 0.82);
        -moz-transform: scale(1.18, 0.82);
        -ms-transform: scale(1.18, 0.82);
        transform: scale(1.18, 0.82);
    }
    2% {
        -webkit-transform: scale(1.16, 0.84);
        -moz-transform: scale(1.16, 0.84);
        -ms-transform: scale(1.16, 0.84);
        transform: scale(1.16, 0.84);
    }
    3% {
        -webkit-transform: scale(1.13, 0.87);
        -moz-transform: scale(1.13, 0.87);
        -ms-transform: scale(1.13, 0.87);
        transform: scale(1.13, 0.87);
    }
    4% {
        -webkit-transform: scale(1.1, 0.9);
        -moz-transform: scale(1.1, 0.9);
        -ms-transform: scale(1.1, 0.9);
        transform: scale(1.1, 0.9);
    }
    5% {
        -webkit-transform: scale(1.07, 0.93);
        -moz-transform: scale(1.07, 0.93);
        -ms-transform: scale(1.07, 0.93);
        transform: scale(1.07, 0.93);
    }
    6% {
        -webkit-transform: scale(1.04, 0.96);
        -moz-transform: scale(1.04, 0.96);
        -ms-transform: scale(1.04, 0.96);
        transform: scale(1.04, 0.96);
    }
    7% {
        -webkit-transform: scale(1.01, 0.99);
        -moz-transform: scale(1.01, 0.99);
        -ms-transform: scale(1.01, 0.99);
        transform: scale(1.01, 0.99);
    }
    8% {
        -webkit-transform: scale(0.99, 1.01);
        -moz-transform: scale(0.99, 1.01);
        -ms-transform: scale(0.99, 1.01);
        transform: scale(0.99, 1.01);
    }
    9% {
        -webkit-transform: scale(0.97, 1.03);
        -moz-transform: scale(0.97, 1.03);
        -ms-transform: scale(0.97, 1.03);
        transform: scale(0.97, 1.03);
    }
    10% {
        -webkit-transform: scale(0.95, 1.05);
        -moz-transform: scale(0.95, 1.05);
        -ms-transform: scale(0.95, 1.05);
        transform: scale(0.95, 1.05);
    }
    11% {
        -webkit-transform: scale(0.94, 1.06);
        -moz-transform: scale(0.94, 1.06);
        -ms-transform: scale(0.94, 1.06);
        transform: scale(0.94, 1.06);
    }
    12% {
        -webkit-transform: scale(0.93, 1.07);
        -moz-transform: scale(0.93, 1.07);
        -ms-transform: scale(0.93, 1.07);
        transform: scale(0.93, 1.07);
    }
    13% {
        -webkit-transform: scale(0.93, 1.07);
        -moz-transform: scale(0.93, 1.07);
        -ms-transform: scale(0.93, 1.07);
        transform: scale(0.93, 1.07);
    }
    14% {
        -webkit-transform: scale(0.93, 1.07);
        -moz-transform: scale(0.93, 1.07);
        -ms-transform: scale(0.93, 1.07);
        transform: scale(0.93, 1.07);
    }
    15% {
        -webkit-transform: scale(0.93, 1.07);
        -moz-transform: scale(0.93, 1.07);
        -ms-transform: scale(0.93, 1.07);
        transform: scale(0.93, 1.07);
    }
    16% {
        -webkit-transform: scale(0.94, 1.06);
        -moz-transform: scale(0.94, 1.06);
        -ms-transform: scale(0.94, 1.06);
        transform: scale(0.94, 1.06);
    }
    17% {
        -webkit-transform: scale(0.94, 1.06);
        -moz-transform: scale(0.94, 1.06);
        -ms-transform: scale(0.94, 1.06);
        transform: scale(0.94, 1.06);
    }
    18% {
        -webkit-transform: scale(0.95, 1.05);
        -moz-transform: scale(0.95, 1.05);
        -ms-transform: scale(0.95, 1.05);
        transform: scale(0.95, 1.05);
    }
    19% {
        -webkit-transform: scale(0.96, 1.04);
        -moz-transform: scale(0.96, 1.04);
        -ms-transform: scale(0.96, 1.04);
        transform: scale(0.96, 1.04);
    }
    20% {
        -webkit-transform: scale(0.98, 1.02);
        -moz-transform: scale(0.98, 1.02);
        -ms-transform: scale(0.98, 1.02);
        transform: scale(0.98, 1.02);
    }
    21% {
        -webkit-transform: scale(0.99, 1.01);
        -moz-transform: scale(0.99, 1.01);
        -ms-transform: scale(0.99, 1.01);
        transform: scale(0.99, 1.01);
    }
    22% {
        -webkit-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    23% {
        -webkit-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    24% {
        -webkit-transform: scale(1.01, 0.99);
        -moz-transform: scale(1.01, 0.99);
        -ms-transform: scale(1.01, 0.99);
        transform: scale(1.01, 0.99);
    }
    25% {
        -webkit-transform: scale(1.02, 0.98);
        -moz-transform: scale(1.02, 0.98);
        -ms-transform: scale(1.02, 0.98);
        transform: scale(1.02, 0.98);
    }
    26% {
        -webkit-transform: scale(1.02, 0.98);
        -moz-transform: scale(1.02, 0.98);
        -ms-transform: scale(1.02, 0.98);
        transform: scale(1.02, 0.98);
    }
    27% {
        -webkit-transform: scale(1.02, 0.98);
        -moz-transform: scale(1.02, 0.98);
        -ms-transform: scale(1.02, 0.98);
        transform: scale(1.02, 0.98);
    }
    28% {
        -webkit-transform: scale(1.03, 0.97);
        -moz-transform: scale(1.03, 0.97);
        -ms-transform: scale(1.03, 0.97);
        transform: scale(1.03, 0.97);
    }
    29% {
        -webkit-transform: scale(1.03, 0.97);
        -moz-transform: scale(1.03, 0.97);
        -ms-transform: scale(1.03, 0.97);
        transform: scale(1.03, 0.97);
    }
    30% {
        -webkit-transform: scale(1.02, 0.98);
        -moz-transform: scale(1.02, 0.98);
        -ms-transform: scale(1.02, 0.98);
        transform: scale(1.02, 0.98);
    }
    31% {
        -webkit-transform: scale(1.02, 0.98);
        -moz-transform: scale(1.02, 0.98);
        -ms-transform: scale(1.02, 0.98);
        transform: scale(1.02, 0.98);
    }
    32% {
        -webkit-transform: scale(1.02, 0.98);
        -moz-transform: scale(1.02, 0.98);
        -ms-transform: scale(1.02, 0.98);
        transform: scale(1.02, 0.98);
    }
    33% {
        -webkit-transform: scale(1.02, 0.98);
        -moz-transform: scale(1.02, 0.98);
        -ms-transform: scale(1.02, 0.98);
        transform: scale(1.02, 0.98);
    }
    34% {
        -webkit-transform: scale(1.01, 0.99);
        -moz-transform: scale(1.01, 0.99);
        -ms-transform: scale(1.01, 0.99);
        transform: scale(1.01, 0.99);
    }
    35% {
        -webkit-transform: scale(1.01, 0.99);
        -moz-transform: scale(1.01, 0.99);
        -ms-transform: scale(1.01, 0.99);
        transform: scale(1.01, 0.99);
    }
    36% {
        -webkit-transform: scale(1.01, 0.99);
        -moz-transform: scale(1.01, 0.99);
        -ms-transform: scale(1.01, 0.99);
        transform: scale(1.01, 0.99);
    }
    37% {
        -webkit-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    38% {
        -webkit-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    39% {
        -webkit-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    40% {
        -webkit-transform: scale(0.99, 1.01);
        -moz-transform: scale(0.99, 1.01);
        -ms-transform: scale(0.99, 1.01);
        transform: scale(0.99, 1.01);
    }
    41% {
        -webkit-transform: scale(0.99, 1.01);
        -moz-transform: scale(0.99, 1.01);
        -ms-transform: scale(0.99, 1.01);
        transform: scale(0.99, 1.01);
    }
    42% {
        -webkit-transform: scale(0.99, 1.01);
        -moz-transform: scale(0.99, 1.01);
        -ms-transform: scale(0.99, 1.01);
        transform: scale(0.99, 1.01);
    }
    43% {
        -webkit-transform: scale(0.99, 1.01);
        -moz-transform: scale(0.99, 1.01);
        -ms-transform: scale(0.99, 1.01);
        transform: scale(0.99, 1.01);
    }
    44% {
        -webkit-transform: scale(0.99, 1.01);
        -moz-transform: scale(0.99, 1.01);
        -ms-transform: scale(0.99, 1.01);
        transform: scale(0.99, 1.01);
    }
    45% {
        -webkit-transform: scale(0.99, 1.01);
        -moz-transform: scale(0.99, 1.01);
        -ms-transform: scale(0.99, 1.01);
        transform: scale(0.99, 1.01);
    }
    46% {
        -webkit-transform: scale(0.99, 1.01);
        -moz-transform: scale(0.99, 1.01);
        -ms-transform: scale(0.99, 1.01);
        transform: scale(0.99, 1.01);
    }
    47% {
        -webkit-transform: scale(0.99, 1.01);
        -moz-transform: scale(0.99, 1.01);
        -ms-transform: scale(0.99, 1.01);
        transform: scale(0.99, 1.01);
    }
    48% {
        -webkit-transform: scale(0.99, 1.01);
        -moz-transform: scale(0.99, 1.01);
        -ms-transform: scale(0.99, 1.01);
        transform: scale(0.99, 1.01);
    }
    49% {
        -webkit-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}

@-webkit-keyframes btnGroups {
    0% {
        -webkit-transform: scale(1.2, 0.8);
        -moz-transform: scale(1.2, 0.8);
        -ms-transform: scale(1.2, 0.8);
        transform: scale(1.2, 0.8);
    }
    1% {
        -webkit-transform: scale(1.18, 0.82);
        -moz-transform: scale(1.18, 0.82);
        -ms-transform: scale(1.18, 0.82);
        transform: scale(1.18, 0.82);
    }
    2% {
        -webkit-transform: scale(1.16, 0.84);
        -moz-transform: scale(1.16, 0.84);
        -ms-transform: scale(1.16, 0.84);
        transform: scale(1.16, 0.84);
    }
    3% {
        -webkit-transform: scale(1.13, 0.87);
        -moz-transform: scale(1.13, 0.87);
        -ms-transform: scale(1.13, 0.87);
        transform: scale(1.13, 0.87);
    }
    4% {
        -webkit-transform: scale(1.1, 0.9);
        -moz-transform: scale(1.1, 0.9);
        -ms-transform: scale(1.1, 0.9);
        transform: scale(1.1, 0.9);
    }
    5% {
        -webkit-transform: scale(1.07, 0.93);
        -moz-transform: scale(1.07, 0.93);
        -ms-transform: scale(1.07, 0.93);
        transform: scale(1.07, 0.93);
    }
    6% {
        -webkit-transform: scale(1.04, 0.96);
        -moz-transform: scale(1.04, 0.96);
        -ms-transform: scale(1.04, 0.96);
        transform: scale(1.04, 0.96);
    }
    7% {
        -webkit-transform: scale(1.01, 0.99);
        -moz-transform: scale(1.01, 0.99);
        -ms-transform: scale(1.01, 0.99);
        transform: scale(1.01, 0.99);
    }
    8% {
        -webkit-transform: scale(0.99, 1.01);
        -moz-transform: scale(0.99, 1.01);
        -ms-transform: scale(0.99, 1.01);
        transform: scale(0.99, 1.01);
    }
    9% {
        -webkit-transform: scale(0.97, 1.03);
        -moz-transform: scale(0.97, 1.03);
        -ms-transform: scale(0.97, 1.03);
        transform: scale(0.97, 1.03);
    }
    10% {
        -webkit-transform: scale(0.95, 1.05);
        -moz-transform: scale(0.95, 1.05);
        -ms-transform: scale(0.95, 1.05);
        transform: scale(0.95, 1.05);
    }
    11% {
        -webkit-transform: scale(0.94, 1.06);
        -moz-transform: scale(0.94, 1.06);
        -ms-transform: scale(0.94, 1.06);
        transform: scale(0.94, 1.06);
    }
    12% {
        -webkit-transform: scale(0.93, 1.07);
        -moz-transform: scale(0.93, 1.07);
        -ms-transform: scale(0.93, 1.07);
        transform: scale(0.93, 1.07);
    }
    13% {
        -webkit-transform: scale(0.93, 1.07);
        -moz-transform: scale(0.93, 1.07);
        -ms-transform: scale(0.93, 1.07);
        transform: scale(0.93, 1.07);
    }
    14% {
        -webkit-transform: scale(0.93, 1.07);
        -moz-transform: scale(0.93, 1.07);
        -ms-transform: scale(0.93, 1.07);
        transform: scale(0.93, 1.07);
    }
    15% {
        -webkit-transform: scale(0.93, 1.07);
        -moz-transform: scale(0.93, 1.07);
        -ms-transform: scale(0.93, 1.07);
        transform: scale(0.93, 1.07);
    }
    16% {
        -webkit-transform: scale(0.94, 1.06);
        -moz-transform: scale(0.94, 1.06);
        -ms-transform: scale(0.94, 1.06);
        transform: scale(0.94, 1.06);
    }
    17% {
        -webkit-transform: scale(0.94, 1.06);
        -moz-transform: scale(0.94, 1.06);
        -ms-transform: scale(0.94, 1.06);
        transform: scale(0.94, 1.06);
    }
    18% {
        -webkit-transform: scale(0.95, 1.05);
        -moz-transform: scale(0.95, 1.05);
        -ms-transform: scale(0.95, 1.05);
        transform: scale(0.95, 1.05);
    }
    19% {
        -webkit-transform: scale(0.96, 1.04);
        -moz-transform: scale(0.96, 1.04);
        -ms-transform: scale(0.96, 1.04);
        transform: scale(0.96, 1.04);
    }
    20% {
        -webkit-transform: scale(0.98, 1.02);
        -moz-transform: scale(0.98, 1.02);
        -ms-transform: scale(0.98, 1.02);
        transform: scale(0.98, 1.02);
    }
    21% {
        -webkit-transform: scale(0.99, 1.01);
        -moz-transform: scale(0.99, 1.01);
        -ms-transform: scale(0.99, 1.01);
        transform: scale(0.99, 1.01);
    }
    22% {
        -webkit-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    23% {
        -webkit-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    24% {
        -webkit-transform: scale(1.01, 0.99);
        -moz-transform: scale(1.01, 0.99);
        -ms-transform: scale(1.01, 0.99);
        transform: scale(1.01, 0.99);
    }
    25% {
        -webkit-transform: scale(1.02, 0.98);
        -moz-transform: scale(1.02, 0.98);
        -ms-transform: scale(1.02, 0.98);
        transform: scale(1.02, 0.98);
    }
    26% {
        -webkit-transform: scale(1.02, 0.98);
        -moz-transform: scale(1.02, 0.98);
        -ms-transform: scale(1.02, 0.98);
        transform: scale(1.02, 0.98);
    }
    27% {
        -webkit-transform: scale(1.02, 0.98);
        -moz-transform: scale(1.02, 0.98);
        -ms-transform: scale(1.02, 0.98);
        transform: scale(1.02, 0.98);
    }
    28% {
        -webkit-transform: scale(1.03, 0.97);
        -moz-transform: scale(1.03, 0.97);
        -ms-transform: scale(1.03, 0.97);
        transform: scale(1.03, 0.97);
    }
    29% {
        -webkit-transform: scale(1.03, 0.97);
        -moz-transform: scale(1.03, 0.97);
        -ms-transform: scale(1.03, 0.97);
        transform: scale(1.03, 0.97);
    }
    30% {
        -webkit-transform: scale(1.02, 0.98);
        -moz-transform: scale(1.02, 0.98);
        -ms-transform: scale(1.02, 0.98);
        transform: scale(1.02, 0.98);
    }
    31% {
        -webkit-transform: scale(1.02, 0.98);
        -moz-transform: scale(1.02, 0.98);
        -ms-transform: scale(1.02, 0.98);
        transform: scale(1.02, 0.98);
    }
    32% {
        -webkit-transform: scale(1.02, 0.98);
        -moz-transform: scale(1.02, 0.98);
        -ms-transform: scale(1.02, 0.98);
        transform: scale(1.02, 0.98);
    }
    33% {
        -webkit-transform: scale(1.02, 0.98);
        -moz-transform: scale(1.02, 0.98);
        -ms-transform: scale(1.02, 0.98);
        transform: scale(1.02, 0.98);
    }
    34% {
        -webkit-transform: scale(1.01, 0.99);
        -moz-transform: scale(1.01, 0.99);
        -ms-transform: scale(1.01, 0.99);
        transform: scale(1.01, 0.99);
    }
    35% {
        -webkit-transform: scale(1.01, 0.99);
        -moz-transform: scale(1.01, 0.99);
        -ms-transform: scale(1.01, 0.99);
        transform: scale(1.01, 0.99);
    }
    36% {
        -webkit-transform: scale(1.01, 0.99);
        -moz-transform: scale(1.01, 0.99);
        -ms-transform: scale(1.01, 0.99);
        transform: scale(1.01, 0.99);
    }
    37% {
        -webkit-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    38% {
        -webkit-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    39% {
        -webkit-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    40% {
        -webkit-transform: scale(0.99, 1.01);
        -moz-transform: scale(0.99, 1.01);
        -ms-transform: scale(0.99, 1.01);
        transform: scale(0.99, 1.01);
    }
    41% {
        -webkit-transform: scale(0.99, 1.01);
        -moz-transform: scale(0.99, 1.01);
        -ms-transform: scale(0.99, 1.01);
        transform: scale(0.99, 1.01);
    }
    42% {
        -webkit-transform: scale(0.99, 1.01);
        -moz-transform: scale(0.99, 1.01);
        -ms-transform: scale(0.99, 1.01);
        transform: scale(0.99, 1.01);
    }
    43% {
        -webkit-transform: scale(0.99, 1.01);
        -moz-transform: scale(0.99, 1.01);
        -ms-transform: scale(0.99, 1.01);
        transform: scale(0.99, 1.01);
    }
    44% {
        -webkit-transform: scale(0.99, 1.01);
        -moz-transform: scale(0.99, 1.01);
        -ms-transform: scale(0.99, 1.01);
        transform: scale(0.99, 1.01);
    }
    45% {
        -webkit-transform: scale(0.99, 1.01);
        -moz-transform: scale(0.99, 1.01);
        -ms-transform: scale(0.99, 1.01);
        transform: scale(0.99, 1.01);
    }
    46% {
        -webkit-transform: scale(0.99, 1.01);
        -moz-transform: scale(0.99, 1.01);
        -ms-transform: scale(0.99, 1.01);
        transform: scale(0.99, 1.01);
    }
    47% {
        -webkit-transform: scale(0.99, 1.01);
        -moz-transform: scale(0.99, 1.01);
        -ms-transform: scale(0.99, 1.01);
        transform: scale(0.99, 1.01);
    }
    48% {
        -webkit-transform: scale(0.99, 1.01);
        -moz-transform: scale(0.99, 1.01);
        -ms-transform: scale(0.99, 1.01);
        transform: scale(0.99, 1.01);
    }
    49% {
        -webkit-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}

@-o-keyframes btnGroups {
    0% {
        -webkit-transform: scale(1.2, 0.8);
        -moz-transform: scale(1.2, 0.8);
        -ms-transform: scale(1.2, 0.8);
        transform: scale(1.2, 0.8);
    }
    1% {
        -webkit-transform: scale(1.18, 0.82);
        -moz-transform: scale(1.18, 0.82);
        -ms-transform: scale(1.18, 0.82);
        transform: scale(1.18, 0.82);
    }
    2% {
        -webkit-transform: scale(1.16, 0.84);
        -moz-transform: scale(1.16, 0.84);
        -ms-transform: scale(1.16, 0.84);
        transform: scale(1.16, 0.84);
    }
    3% {
        -webkit-transform: scale(1.13, 0.87);
        -moz-transform: scale(1.13, 0.87);
        -ms-transform: scale(1.13, 0.87);
        transform: scale(1.13, 0.87);
    }
    4% {
        -webkit-transform: scale(1.1, 0.9);
        -moz-transform: scale(1.1, 0.9);
        -ms-transform: scale(1.1, 0.9);
        transform: scale(1.1, 0.9);
    }
    5% {
        -webkit-transform: scale(1.07, 0.93);
        -moz-transform: scale(1.07, 0.93);
        -ms-transform: scale(1.07, 0.93);
        transform: scale(1.07, 0.93);
    }
    6% {
        -webkit-transform: scale(1.04, 0.96);
        -moz-transform: scale(1.04, 0.96);
        -ms-transform: scale(1.04, 0.96);
        transform: scale(1.04, 0.96);
    }
    7% {
        -webkit-transform: scale(1.01, 0.99);
        -moz-transform: scale(1.01, 0.99);
        -ms-transform: scale(1.01, 0.99);
        transform: scale(1.01, 0.99);
    }
    8% {
        -webkit-transform: scale(0.99, 1.01);
        -moz-transform: scale(0.99, 1.01);
        -ms-transform: scale(0.99, 1.01);
        transform: scale(0.99, 1.01);
    }
    9% {
        -webkit-transform: scale(0.97, 1.03);
        -moz-transform: scale(0.97, 1.03);
        -ms-transform: scale(0.97, 1.03);
        transform: scale(0.97, 1.03);
    }
    10% {
        -webkit-transform: scale(0.95, 1.05);
        -moz-transform: scale(0.95, 1.05);
        -ms-transform: scale(0.95, 1.05);
        transform: scale(0.95, 1.05);
    }
    11% {
        -webkit-transform: scale(0.94, 1.06);
        -moz-transform: scale(0.94, 1.06);
        -ms-transform: scale(0.94, 1.06);
        transform: scale(0.94, 1.06);
    }
    12% {
        -webkit-transform: scale(0.93, 1.07);
        -moz-transform: scale(0.93, 1.07);
        -ms-transform: scale(0.93, 1.07);
        transform: scale(0.93, 1.07);
    }
    13% {
        -webkit-transform: scale(0.93, 1.07);
        -moz-transform: scale(0.93, 1.07);
        -ms-transform: scale(0.93, 1.07);
        transform: scale(0.93, 1.07);
    }
    14% {
        -webkit-transform: scale(0.93, 1.07);
        -moz-transform: scale(0.93, 1.07);
        -ms-transform: scale(0.93, 1.07);
        transform: scale(0.93, 1.07);
    }
    15% {
        -webkit-transform: scale(0.93, 1.07);
        -moz-transform: scale(0.93, 1.07);
        -ms-transform: scale(0.93, 1.07);
        transform: scale(0.93, 1.07);
    }
    16% {
        -webkit-transform: scale(0.94, 1.06);
        -moz-transform: scale(0.94, 1.06);
        -ms-transform: scale(0.94, 1.06);
        transform: scale(0.94, 1.06);
    }
    17% {
        -webkit-transform: scale(0.94, 1.06);
        -moz-transform: scale(0.94, 1.06);
        -ms-transform: scale(0.94, 1.06);
        transform: scale(0.94, 1.06);
    }
    18% {
        -webkit-transform: scale(0.95, 1.05);
        -moz-transform: scale(0.95, 1.05);
        -ms-transform: scale(0.95, 1.05);
        transform: scale(0.95, 1.05);
    }
    19% {
        -webkit-transform: scale(0.96, 1.04);
        -moz-transform: scale(0.96, 1.04);
        -ms-transform: scale(0.96, 1.04);
        transform: scale(0.96, 1.04);
    }
    20% {
        -webkit-transform: scale(0.98, 1.02);
        -moz-transform: scale(0.98, 1.02);
        -ms-transform: scale(0.98, 1.02);
        transform: scale(0.98, 1.02);
    }
    21% {
        -webkit-transform: scale(0.99, 1.01);
        -moz-transform: scale(0.99, 1.01);
        -ms-transform: scale(0.99, 1.01);
        transform: scale(0.99, 1.01);
    }
    22% {
        -webkit-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    23% {
        -webkit-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    24% {
        -webkit-transform: scale(1.01, 0.99);
        -moz-transform: scale(1.01, 0.99);
        -ms-transform: scale(1.01, 0.99);
        transform: scale(1.01, 0.99);
    }
    25% {
        -webkit-transform: scale(1.02, 0.98);
        -moz-transform: scale(1.02, 0.98);
        -ms-transform: scale(1.02, 0.98);
        transform: scale(1.02, 0.98);
    }
    26% {
        -webkit-transform: scale(1.02, 0.98);
        -moz-transform: scale(1.02, 0.98);
        -ms-transform: scale(1.02, 0.98);
        transform: scale(1.02, 0.98);
    }
    27% {
        -webkit-transform: scale(1.02, 0.98);
        -moz-transform: scale(1.02, 0.98);
        -ms-transform: scale(1.02, 0.98);
        transform: scale(1.02, 0.98);
    }
    28% {
        -webkit-transform: scale(1.03, 0.97);
        -moz-transform: scale(1.03, 0.97);
        -ms-transform: scale(1.03, 0.97);
        transform: scale(1.03, 0.97);
    }
    29% {
        -webkit-transform: scale(1.03, 0.97);
        -moz-transform: scale(1.03, 0.97);
        -ms-transform: scale(1.03, 0.97);
        transform: scale(1.03, 0.97);
    }
    30% {
        -webkit-transform: scale(1.02, 0.98);
        -moz-transform: scale(1.02, 0.98);
        -ms-transform: scale(1.02, 0.98);
        transform: scale(1.02, 0.98);
    }
    31% {
        -webkit-transform: scale(1.02, 0.98);
        -moz-transform: scale(1.02, 0.98);
        -ms-transform: scale(1.02, 0.98);
        transform: scale(1.02, 0.98);
    }
    32% {
        -webkit-transform: scale(1.02, 0.98);
        -moz-transform: scale(1.02, 0.98);
        -ms-transform: scale(1.02, 0.98);
        transform: scale(1.02, 0.98);
    }
    33% {
        -webkit-transform: scale(1.02, 0.98);
        -moz-transform: scale(1.02, 0.98);
        -ms-transform: scale(1.02, 0.98);
        transform: scale(1.02, 0.98);
    }
    34% {
        -webkit-transform: scale(1.01, 0.99);
        -moz-transform: scale(1.01, 0.99);
        -ms-transform: scale(1.01, 0.99);
        transform: scale(1.01, 0.99);
    }
    35% {
        -webkit-transform: scale(1.01, 0.99);
        -moz-transform: scale(1.01, 0.99);
        -ms-transform: scale(1.01, 0.99);
        transform: scale(1.01, 0.99);
    }
    36% {
        -webkit-transform: scale(1.01, 0.99);
        -moz-transform: scale(1.01, 0.99);
        -ms-transform: scale(1.01, 0.99);
        transform: scale(1.01, 0.99);
    }
    37% {
        -webkit-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    38% {
        -webkit-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    39% {
        -webkit-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    40% {
        -webkit-transform: scale(0.99, 1.01);
        -moz-transform: scale(0.99, 1.01);
        -ms-transform: scale(0.99, 1.01);
        transform: scale(0.99, 1.01);
    }
    41% {
        -webkit-transform: scale(0.99, 1.01);
        -moz-transform: scale(0.99, 1.01);
        -ms-transform: scale(0.99, 1.01);
        transform: scale(0.99, 1.01);
    }
    42% {
        -webkit-transform: scale(0.99, 1.01);
        -moz-transform: scale(0.99, 1.01);
        -ms-transform: scale(0.99, 1.01);
        transform: scale(0.99, 1.01);
    }
    43% {
        -webkit-transform: scale(0.99, 1.01);
        -moz-transform: scale(0.99, 1.01);
        -ms-transform: scale(0.99, 1.01);
        transform: scale(0.99, 1.01);
    }
    44% {
        -webkit-transform: scale(0.99, 1.01);
        -moz-transform: scale(0.99, 1.01);
        -ms-transform: scale(0.99, 1.01);
        transform: scale(0.99, 1.01);
    }
    45% {
        -webkit-transform: scale(0.99, 1.01);
        -moz-transform: scale(0.99, 1.01);
        -ms-transform: scale(0.99, 1.01);
        transform: scale(0.99, 1.01);
    }
    46% {
        -webkit-transform: scale(0.99, 1.01);
        -moz-transform: scale(0.99, 1.01);
        -ms-transform: scale(0.99, 1.01);
        transform: scale(0.99, 1.01);
    }
    47% {
        -webkit-transform: scale(0.99, 1.01);
        -moz-transform: scale(0.99, 1.01);
        -ms-transform: scale(0.99, 1.01);
        transform: scale(0.99, 1.01);
    }
    48% {
        -webkit-transform: scale(0.99, 1.01);
        -moz-transform: scale(0.99, 1.01);
        -ms-transform: scale(0.99, 1.01);
        transform: scale(0.99, 1.01);
    }
    49% {
        -webkit-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}

@keyframes btnGroups {
    0% {
        -webkit-transform: scale(1.2, 0.8);
        -moz-transform: scale(1.2, 0.8);
        -ms-transform: scale(1.2, 0.8);
        transform: scale(1.2, 0.8);
    }
    1% {
        -webkit-transform: scale(1.18, 0.82);
        -moz-transform: scale(1.18, 0.82);
        -ms-transform: scale(1.18, 0.82);
        transform: scale(1.18, 0.82);
    }
    2% {
        -webkit-transform: scale(1.16, 0.84);
        -moz-transform: scale(1.16, 0.84);
        -ms-transform: scale(1.16, 0.84);
        transform: scale(1.16, 0.84);
    }
    3% {
        -webkit-transform: scale(1.13, 0.87);
        -moz-transform: scale(1.13, 0.87);
        -ms-transform: scale(1.13, 0.87);
        transform: scale(1.13, 0.87);
    }
    4% {
        -webkit-transform: scale(1.1, 0.9);
        -moz-transform: scale(1.1, 0.9);
        -ms-transform: scale(1.1, 0.9);
        transform: scale(1.1, 0.9);
    }
    5% {
        -webkit-transform: scale(1.07, 0.93);
        -moz-transform: scale(1.07, 0.93);
        -ms-transform: scale(1.07, 0.93);
        transform: scale(1.07, 0.93);
    }
    6% {
        -webkit-transform: scale(1.04, 0.96);
        -moz-transform: scale(1.04, 0.96);
        -ms-transform: scale(1.04, 0.96);
        transform: scale(1.04, 0.96);
    }
    7% {
        -webkit-transform: scale(1.01, 0.99);
        -moz-transform: scale(1.01, 0.99);
        -ms-transform: scale(1.01, 0.99);
        transform: scale(1.01, 0.99);
    }
    8% {
        -webkit-transform: scale(0.99, 1.01);
        -moz-transform: scale(0.99, 1.01);
        -ms-transform: scale(0.99, 1.01);
        transform: scale(0.99, 1.01);
    }
    9% {
        -webkit-transform: scale(0.97, 1.03);
        -moz-transform: scale(0.97, 1.03);
        -ms-transform: scale(0.97, 1.03);
        transform: scale(0.97, 1.03);
    }
    10% {
        -webkit-transform: scale(0.95, 1.05);
        -moz-transform: scale(0.95, 1.05);
        -ms-transform: scale(0.95, 1.05);
        transform: scale(0.95, 1.05);
    }
    11% {
        -webkit-transform: scale(0.94, 1.06);
        -moz-transform: scale(0.94, 1.06);
        -ms-transform: scale(0.94, 1.06);
        transform: scale(0.94, 1.06);
    }
    12% {
        -webkit-transform: scale(0.93, 1.07);
        -moz-transform: scale(0.93, 1.07);
        -ms-transform: scale(0.93, 1.07);
        transform: scale(0.93, 1.07);
    }
    13% {
        -webkit-transform: scale(0.93, 1.07);
        -moz-transform: scale(0.93, 1.07);
        -ms-transform: scale(0.93, 1.07);
        transform: scale(0.93, 1.07);
    }
    14% {
        -webkit-transform: scale(0.93, 1.07);
        -moz-transform: scale(0.93, 1.07);
        -ms-transform: scale(0.93, 1.07);
        transform: scale(0.93, 1.07);
    }
    15% {
        -webkit-transform: scale(0.93, 1.07);
        -moz-transform: scale(0.93, 1.07);
        -ms-transform: scale(0.93, 1.07);
        transform: scale(0.93, 1.07);
    }
    16% {
        -webkit-transform: scale(0.94, 1.06);
        -moz-transform: scale(0.94, 1.06);
        -ms-transform: scale(0.94, 1.06);
        transform: scale(0.94, 1.06);
    }
    17% {
        -webkit-transform: scale(0.94, 1.06);
        -moz-transform: scale(0.94, 1.06);
        -ms-transform: scale(0.94, 1.06);
        transform: scale(0.94, 1.06);
    }
    18% {
        -webkit-transform: scale(0.95, 1.05);
        -moz-transform: scale(0.95, 1.05);
        -ms-transform: scale(0.95, 1.05);
        transform: scale(0.95, 1.05);
    }
    19% {
        -webkit-transform: scale(0.96, 1.04);
        -moz-transform: scale(0.96, 1.04);
        -ms-transform: scale(0.96, 1.04);
        transform: scale(0.96, 1.04);
    }
    20% {
        -webkit-transform: scale(0.98, 1.02);
        -moz-transform: scale(0.98, 1.02);
        -ms-transform: scale(0.98, 1.02);
        transform: scale(0.98, 1.02);
    }
    21% {
        -webkit-transform: scale(0.99, 1.01);
        -moz-transform: scale(0.99, 1.01);
        -ms-transform: scale(0.99, 1.01);
        transform: scale(0.99, 1.01);
    }
    22% {
        -webkit-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    23% {
        -webkit-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    24% {
        -webkit-transform: scale(1.01, 0.99);
        -moz-transform: scale(1.01, 0.99);
        -ms-transform: scale(1.01, 0.99);
        transform: scale(1.01, 0.99);
    }
    25% {
        -webkit-transform: scale(1.02, 0.98);
        -moz-transform: scale(1.02, 0.98);
        -ms-transform: scale(1.02, 0.98);
        transform: scale(1.02, 0.98);
    }
    26% {
        -webkit-transform: scale(1.02, 0.98);
        -moz-transform: scale(1.02, 0.98);
        -ms-transform: scale(1.02, 0.98);
        transform: scale(1.02, 0.98);
    }
    27% {
        -webkit-transform: scale(1.02, 0.98);
        -moz-transform: scale(1.02, 0.98);
        -ms-transform: scale(1.02, 0.98);
        transform: scale(1.02, 0.98);
    }
    28% {
        -webkit-transform: scale(1.03, 0.97);
        -moz-transform: scale(1.03, 0.97);
        -ms-transform: scale(1.03, 0.97);
        transform: scale(1.03, 0.97);
    }
    29% {
        -webkit-transform: scale(1.03, 0.97);
        -moz-transform: scale(1.03, 0.97);
        -ms-transform: scale(1.03, 0.97);
        transform: scale(1.03, 0.97);
    }
    30% {
        -webkit-transform: scale(1.02, 0.98);
        -moz-transform: scale(1.02, 0.98);
        -ms-transform: scale(1.02, 0.98);
        transform: scale(1.02, 0.98);
    }
    31% {
        -webkit-transform: scale(1.02, 0.98);
        -moz-transform: scale(1.02, 0.98);
        -ms-transform: scale(1.02, 0.98);
        transform: scale(1.02, 0.98);
    }
    32% {
        -webkit-transform: scale(1.02, 0.98);
        -moz-transform: scale(1.02, 0.98);
        -ms-transform: scale(1.02, 0.98);
        transform: scale(1.02, 0.98);
    }
    33% {
        -webkit-transform: scale(1.02, 0.98);
        -moz-transform: scale(1.02, 0.98);
        -ms-transform: scale(1.02, 0.98);
        transform: scale(1.02, 0.98);
    }
    34% {
        -webkit-transform: scale(1.01, 0.99);
        -moz-transform: scale(1.01, 0.99);
        -ms-transform: scale(1.01, 0.99);
        transform: scale(1.01, 0.99);
    }
    35% {
        -webkit-transform: scale(1.01, 0.99);
        -moz-transform: scale(1.01, 0.99);
        -ms-transform: scale(1.01, 0.99);
        transform: scale(1.01, 0.99);
    }
    36% {
        -webkit-transform: scale(1.01, 0.99);
        -moz-transform: scale(1.01, 0.99);
        -ms-transform: scale(1.01, 0.99);
        transform: scale(1.01, 0.99);
    }
    37% {
        -webkit-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    38% {
        -webkit-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    39% {
        -webkit-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    40% {
        -webkit-transform: scale(0.99, 1.01);
        -moz-transform: scale(0.99, 1.01);
        -ms-transform: scale(0.99, 1.01);
        transform: scale(0.99, 1.01);
    }
    41% {
        -webkit-transform: scale(0.99, 1.01);
        -moz-transform: scale(0.99, 1.01);
        -ms-transform: scale(0.99, 1.01);
        transform: scale(0.99, 1.01);
    }
    42% {
        -webkit-transform: scale(0.99, 1.01);
        -moz-transform: scale(0.99, 1.01);
        -ms-transform: scale(0.99, 1.01);
        transform: scale(0.99, 1.01);
    }
    43% {
        -webkit-transform: scale(0.99, 1.01);
        -moz-transform: scale(0.99, 1.01);
        -ms-transform: scale(0.99, 1.01);
        transform: scale(0.99, 1.01);
    }
    44% {
        -webkit-transform: scale(0.99, 1.01);
        -moz-transform: scale(0.99, 1.01);
        -ms-transform: scale(0.99, 1.01);
        transform: scale(0.99, 1.01);
    }
    45% {
        -webkit-transform: scale(0.99, 1.01);
        -moz-transform: scale(0.99, 1.01);
        -ms-transform: scale(0.99, 1.01);
        transform: scale(0.99, 1.01);
    }
    46% {
        -webkit-transform: scale(0.99, 1.01);
        -moz-transform: scale(0.99, 1.01);
        -ms-transform: scale(0.99, 1.01);
        transform: scale(0.99, 1.01);
    }
    47% {
        -webkit-transform: scale(0.99, 1.01);
        -moz-transform: scale(0.99, 1.01);
        -ms-transform: scale(0.99, 1.01);
        transform: scale(0.99, 1.01);
    }
    48% {
        -webkit-transform: scale(0.99, 1.01);
        -moz-transform: scale(0.99, 1.01);
        -ms-transform: scale(0.99, 1.01);
        transform: scale(0.99, 1.01);
    }
    49% {
        -webkit-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}


/* 名称 */

.header-author {
    text-align: center;
    margin: 0.67em 0;
    font-family: Roboto, "Roboto", serif;
    font-size: 30px;
    color: #fff;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s;
}


/* 搜索框 */

form {
    width: 300px;
    height: 33px;
    text-align: center;
    margin-bottom: 0px;
}

.search {
    width: 150px;
    height: 22px;
    margin-bottom: 10px;
    border-bottom: 2px solid #fff;
    border-radius: 2px;
    color: #ffffff;
    background: none;
    transition: all 0.2s ease;
}

.search:hover {
    color: rgb(148, 148, 148);
    width: 200px;
    height: 32px;
    border-bottom: 2px solid rgb(148, 148, 148);
}

.search:focus {
    color: rgb(148, 148, 148);
    width: 200px;
    height: 30px;
    border-bottom: 2px solid #fff;
}


/* 导航栏 */

.header_menu ul li {
    font-size: 20px;
    padding: 6px 0;
}


/* 联系方式 */

.header_nav ul {
    position: relative;
    padding: 0 50px;
    margin-top: 15px;
}

.header_nav ul li {
    float: left;
}

#wechat_inner {
    position: absolute;
    top: -65px;
    right: -52px;
    width: 100px;
    height: 100px;
    opacity: 0;
    transition: opactiy 0.6s ease;
}

#wechat_inner img {
    position: absolute;
    top: -3px;
    left: -1px;
    width: 90px;
    height: 90px;
}

#wechat_inner::before {
    content: "";
    position: absolute;
    bottom: 13px;
    left: -7px;
    width: 5px;
    height: 0px;
    border-left: 10px solid gray;
    border-top: 10px solid transparent;
    transform: rotate(45deg);
}

#connet_wechat:hover #wechat_inner {
    opacity: 1;
}